{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Liên Hệ Với Chúng Tôi</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="submit_contact_form.php" method="post">
                <div class="form-group">
                    <label for="name">Tên của bạn:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Tin Nhắn:</label>
                    <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Gửi Tin Nhắn</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
