{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/css/schedule.css">
<div class="container mt-5 schedule">
    <section class="lich-chieu">
        <h2 style="color: black;">Lịch Chiếu Phim</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Thời gian</th>
                    <th>Tên phim</th>
                    <th>Thể loại</th>
                    <th>Phòng chiếu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>14:00</td>
                    <td>Phim A</td>
                    <td>Hành động</td>
                    <td>Phòng 1</td>
                </tr>
                <tr>
                    <td>16:00</td>
                    <td>Phim B</td>
                    <td>Kinh dị</td>
                    <td>Phòng 2</td>
                </tr>
                <tr>
                    <td>18:00</td>
                    <td>Phim C</td>
                    <td>Hoạt hình</td>
                    <td>Phòng 3</td>
                </tr>
                <tr>
                    <td>20:00</td>
                    <td>Phim D</td>
                    <td>Viễn tưởng</td>
                    <td>Phòng 4</td>
                </tr>
                <tr>
                    <td>22:00</td>
                    <td>Phim E</td>
                    <td>Phiêu lưu</td>
                    <td>Phòng 5</td>
                </tr>
                <tr>
                    <td>24:00</td>
                    <td>Phim F</td>
                    <td>Thần thoại</td>
                    <td>Phòng 6</td>
                </tr>
                <tr>
                    <td>02:00</td>
                    <td>Phim G</td>
                    <td>Chính kịch</td>
                    <td>Phòng 7</td>
                </tr>
                </tbody>
        </table>
    </section>
</div>
{% endblock %}