.modal-header{
    background-color: #343a40;
    color: white;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.modal-header .close{
    font-size: 30px;
}

.modal-body{
    padding: 20px;
    color: black;
}

.btn-primary{
    margin: 2px;
    background-color: #343a40;
    color: white;
    float: right;
}
